.quarto-title-block .quarto-title-banner {
  background-image: url(https://dauphine.psl.eu/_assets/4ad852879daddd0ddb4f19951dc58cb9/assets/img/logo/logo_white.svg);
  background-size: 15%;
  background-origin: padding-box;
  background-position: center top 8%;
  background-repeat: no-repeat;
}

#title-block-header > div.quarto-title-banner.page-columns.page-full {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.quarto-title-meta > div:nth-child(1) {
  color: #1c2850;
}

#TOC > ul:nth-child(1) {
  color: #2e4588;
}

h1 {
  color: #2e4588;
}

details > summary {
  color: #2e4588;
  display: flex;
}

details > summary::after {
  content: "";
  background: url('data:image/svg+xml,<svg viewBox="-19.04 0 75.804 75.804" xmlns="http://www.w3.org/2000/svg" fill="%231c2850" stroke="%231c2850"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g id="Group_65" data-name="Group 65" transform="translate(-831.568 -384.448)"><path id="Path_57" data-name="Path 57" d="M833.068,460.252a1.5,1.5,0,0,1-1.061-2.561l33.557-33.56a2.53,2.53,0,0,0,0-3.564l-33.557-33.558a1.5,1.5,0,0,1,2.122-2.121l33.556,33.558a5.53,5.53,0,0,1,0,7.807l-33.557,33.56A1.5,1.5,0,0,1,833.068,460.252Z" fill="%230c2c67"></path></g></g></svg>') ;
  height: 10pt;
  width: 10pt;
  background-size: cover;
  margin-left: 5pt;
  margin-top: 4.5pt;
  transition: 0.2s;
}

details[open] > summary::after {
  transform: rotate(90deg);
}