.quarto-title-block .quarto-title-banner {
  background-image: url(C://Tout/PhD/PhD/beamer/dauphine_psl_logo.png);
  background-size: 300px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 45px;
  background-origin: content-box;
}

#title-block-header > div.quarto-title-banner.page-columns.page-full {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.title {
  color:white;
}

.quarto-title-meta > div:nth-child(1) {
  color: rgb(47, 68, 134);
}

#schedule > h1:nth-child(1) {
  color: rgb(47, 68, 134);
}

#practical-information > h1:nth-child(1) {
  color: rgb(47, 68, 134);
}