.quarto-title-block .quarto-title-banner {
  background-image: url(https://dauphine.psl.eu/_assets/4ad852879daddd0ddb4f19951dc58cb9/assets/img/logo/logo_white.svg);
  background-size: 15%;
  background-origin: padding-box;
  background-position: center top 8%;
  background-repeat: no-repeat;
}

#title-block-header > div.quarto-title-banner.page-columns.page-full {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.quarto-title-meta > div:nth-child(1) {
  color: #1c2850;
}

#TOC > ul:nth-child(1) {
  color: #2e4588;
}

h1 {
  color: #2e4588;
}